<!DOCTYPE html>
<html>
<head>
    <title>Bluetooth</title>
</head>
<body>
    <h1>Bluetooth Communication</h1>
    <button id="connectButton">Connect</button>
    <button id="sendButton" disabled>Send Data</button>
    <script src="../middleware/bluetooth.js"></script>
</body>
</html>