<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" class="form" action="/auth/login" method="post" role="form" autocomplete="off">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <!-- Agregar login con Google -->
    <h1>Login con Google</h1>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="../middleware/login.js"></script>
</body>
</html>






