<!DOCTYPE html>
<html>
<head>
    <title>Data Visualization</title>
    <script src="../middleware/visualization.js"></script>
</head>
<body>
    <h1>Data Visualization</h1>
    <div id="chartContainer"></div>
</body>
</html>